<VirtualHost *:8080>
    DocumentRoot "/django_projects/maio/html"
    ServerName localhost
    
    <Directory /django_projects/maio>
        Require all granted
    </Directory>
    
    WSGIScriptAlias / /django_projects/maio/maio/wsgi.py
    
    Alias /static/media /django_projects/maio/filestore/media
    Alias /static/thumbnails /django_projects/maio/filestore/thumbnails
    Alias /static /django_projects/maio/static
    
</VirtualHost>

#<VirtualHost *:8443>
#  SSLEngine on
#  ServerName serverone.tld:8443
#  SSLCertificateFile "${SRVROOT}/conf/ssl/serverone.crt"
#  SSLCertificateKeyFile "${SRVROOT}/conf/ssl/serverone.key"
#  DocumentRoot "${SRVROOT}/htdocs"
#	CustomLog "${SRVROOT}/logs/ssl_request.log" \
#          "%t %h %{SSL_PROTOCOL}x %{SSL_CIPHER}x \"%r\" %b"
#	<Directory "${SRVROOT}/htdocs">
#		Options Indexes Includes FollowSymLinks
#		AllowOverride AuthConfig Limit FileInfo
#    Require all granted
#	</Directory>
#</virtualhost>
