{# image card file #}
{# requires a Media instance named 'image' and an integer named 'width' context variables #}

{% load static %}
{% load maio_extras %}

{% if medium and width %}
<div class="card m-2 p-0 border border-dark" style="width: {{width}}px;" id="card_{{ medium.id }}">
  <!-- top of card, image -->
  <div style="height: {{width}}px; overflow: hidden; border-radius: 5px;">
    {% if medium.file.mime_type.maio_type.maio_type == 'image' %}
      <i class="bi bi-file-earmark-image maio-media-icon"></i>
    {% elif medium.file.mime_type.maio_type.maio_type == 'video' %}
      <i class="bi bi-camera-video maio-media-icon"></i>
    {% elif medium.file.mime_type.maio_type.maio_type == 'audio' %}
      <i class="bi bi-file-music maio-media-icon"></i>
    {% elif medium.file.mime_type.maio_type.maio_type == 'document' %}
      <i class="bi bi-file-earmark-word maio-media-icon"></i>
    {% else %}
      <i class="bi bi-file-binary maio-media-icon"></i>
    {% endif %}
    <!-- <a class="maio-media-options"
       data-bs-toggle="modal"
       data-bs-target="#modal_maio_viewer_{{ medium.id }}"
    > -->
    <img class="card-img-top"
         data-bs-toggle="modal"
         data-bs-target="#modal_maio_viewer_{{ medium.id }}"
         src="{{medium.get_static_thumbnail_uri }}"
         alt="{{ medium.name }}.{{ medium.extension }}"
         style="{% if medium.tn_width > medium.tn_height %}
                  height: {{ width }}px; width: auto;
                  margin-left: {{ medium.margin_left }}px;
                {% else %}
                  margin-top: {{ medium.margin_top }}px;
                  width: {{ width }}px; height: auto;
                {% endif %}
                cursor: pointer;"
    >
    <!-- </a> -->
  </div>
  <!-- /image -->

  {% if user_setting.display_thumbnails_only is False %}
  <div class="card-body p-1"> <!-- title -->
    <h5 class="card-title">
      {{ medium.name }}.{{ medium.extension }}
    </h5>
    {% if medium.author %}
    <!-- author -->
    <div class="card-text" style="font-size: 10pt;">
      Author:
      {% if medium.url %}
        <a href="{{ medium.url }}">
      {% endif %}

      {{ medium.author }}

      {% if medium.url %}
        </a>
      {% endif %}
    </div> <!-- /author -->
    {% endif %}

    {% if medium.copyright %}
    <!-- copyright -->
    <div class="card-text" style="font-size: 10pt;">
      Copyright: {{ medium.copyright }}
    </div> <!-- /copyright -->
    {% endif %}
  </div>  <!-- /title -->

  <!-- rating -->
  <div class="card-body p-0 border-bottom clearfix pb-1  border border-dark-subtle" style="font-size: 14pt; padding: 0 5px;">
    <span class="bi bi-heart" title="Love this image" aria-hidden="true" style="margin: 0 6px;"></span>
    <span class="bi bi-hand-thumbs-up" title="Like this image" aria-hidden="true" style="margin: 0 6px;"></span>
    <span class="bi bi-star float-end" title="Give this image 5 Stars" aria-hidden="true" style="margin: 0 6px 0 0;"></span>
    <span class="bi bi-star float-end" title="Give this image 4 Stars" aria-hidden="true"></span>
    <span class="bi bi-star float-end" title="Give this image 3 Stars" aria-hidden="true"></span>
    <span class="bi bi-star float-end" title="Give this image 2 Stars" aria-hidden="true"></span>
    <span class="bi bi-star float-end" title="Give this image 1 Star" aria-hidden="true" style="margin: 0 0 0 6px;"></span>
  </div>
  <div class="card-body p-0 border-bottom clearfix pb-1 border border-dark-subtle" style="font-size: 14pt; padding: 0 5px;">
    <span class="bi bi-share" title="Share this media with another Maio User." style="margin: 0 0 0 6px;"></span>
    <span class="bi bi-download float-end" title="Download this media" aria-hidden="true" style="margin: 0 6px;"></span>
    <span class="bi bi-eye-slash float-end" title="Private (visible only to you)" aria-hidden="true" style="margin: 0 6px;"></span>
  </div>
  <!-- /rating -->

  <!-- date modified and dimensions -->
  <div class="card-body p-1 clearfix border border-dark-subtle" style="font-size: 10pt;">
    <span>{{ medium.date_modified }}</span>
    <br><span>Size: {{ medium.file.size|maio_filesize_human }}</span>
    {% if medium.file.mime_type.maio_type.maio_type == 'image' %}
      <br><span>Dimensions: {{ medium.width }}x{{ medium.height }}</span>
    {% elif medium.file.mime_type.maio_type.maio_type == 'video' %}
      <br><span>Dimensions: {{ medium.width }}x{{ medium.height }}</span>
      <br><span>Length: {{medium.length|maio_duration_human}}</span>
    {% elif medium.file.mime_type.maio_type.maio_type == 'audio' %}
      <br><span>Length: {{ medium.length|maio_duration_human }}</span>
    {% else %}
      <br><span>No extra properties shown.</span>
    {% endif %}
    <br><span>Source: {{ medium.source }}</span>
    <br><span>Tags:
      {% for tag in medium.tags.all %}
        <span class="badge badge-secondary">#{{ tag.name }}</span>
      {% empty %}
        None
      {% endfor %}
    </span>
    <!-- /tags -->
    <div class="btn-group dropup float-end maio-card-options">
      <span class="bi bi-three-dots-vertical float-end dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"></span>
      <ul class="dropdown-menu" style="cursor: pointer; padding: 0; width: 13em;">
        <!-- Dropdown menu links -->
        <li class="maio-media-options"
            data-bs-toggle="modal"
            data-bs-target="#modal_maio_viewer_{{ medium.id }}"
        >
          View Media in Maio Viewer
        </li>
        <li class="maio-media-options"><a href="{{ medium.get_static_media_uri }}" target="_new">View Raw Media</a></li>
        <li class="maio-media-options"
            data-bs-toggle="modal"
            data-bs-target="#modal_delete_media_{{ medium.id }}"
        >
          Delete
        </li>
      </ul>
    </div>
  </div>
  <!-- /date modified and dimensions -->

  <script>
    $(function(){
      $("#modal_delete_media_{{ medium.id }}").on('show.bs.modal', function() {
        highlight_media('{{ medium.id }}');
      });
      $("#modal_delete_media_{{ medium.id }}").on('hidden.bs.modal', function() {
        unhighlight_media('{{ medium.id }}');
      });
      $("#modal_maio_viewer_{{ medium.id }}").on('show.bs.modal', function() {
        var el = null;
        {% if medium.file.mime_type.maio_type.maio_type == 'video' %}
          el = document.getElementById("video_{{ medium.id }}");
        {% elif medium.file.mime_type.maio_type.maio_type == 'audio' %}
          el = document.getElementById("audio_{{ medium.id }}");
        {% endif %}
        console.log('Show Modal. Play Media. El:', el);
        if (el != null) {
          el.play();
        }
      });
      $("#modal_maio_viewer_{{ medium.id }}").on('hidden.bs.modal', function() {
        var el = null;
        {% if medium.file.mime_type.maio_type.maio_type == 'video' %}
          el = document.getElementById("video_{{ medium.id }}");
        {% elif medium.file.mime_type.maio_type.maio_type == 'audio' %}
          el = document.getElementById("audio_{{ medium.id }}");
        {% endif %}
        console.log('Hide Modal. Stop Media. El:', el);
        if (el != null) {
          el.pause();
        }
    });
  });
  </script>
  {% endif %}
</div>

<div class="modal fade" id="modal_delete_media_{{ medium.id }}" tabindex="-1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Delete Media?</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Are you sure you wish to delete <span class="maio-file-name">{{ medium.name }}.{{ medium.extension }}?</span></p>
        {% if request.user.is_superuser %}
        <div>
          <input type="checkbox" id="delete_all_{{ medium.id }}">
          <label for="delete_all_{{ medium.id }}">Permanently delete this Media and the underlying filestore.</label>
        </div>
        {% endif %}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No, Cancel</button>
        <button type="button" class="btn btn-danger" onclick="delete_media('{{ medium.id }}');">
          Yes, Delete <i class="bi bi-x-square"></i>
        </button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modal_maio_viewer_{{ medium.id }}" tabindex="-1">
  <div class="modal-dialog modal-fullscreen-xl-down modal-xl modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Maio Viewer</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        {% if medium.file.mime_type.maio_type.maio_type == 'image' %}
          <div class="maio-viewer-container">
            <img class="maio-viewer{% if medium.file.mime_type.mime_type == 'image/gif' %}-gif{% endif %}" src="{{ medium.get_static_media_uri }}"
                 style="
                  {% if medium.height > image_height %}height: {{ image_height }}px;{% endif %};
                  {% comment %} {% if medium.width < image_width %}width: auto;{% endif %} {% endcomment %}
                 "
            >
          </div>
        {% elif medium.file.mime_type.maio_type.maio_type == 'video' %}
          <figure class="maio-viewer">
            <figcaption><b>{{ medium.name }}.{{ medium.extension }}</b></figcaption>
            <video controls class="maio-viewer" id="video_{{ medium.id }}">
              <source src="{{ medium.get_static_media_uri }}"/>
            </video>
          </figure>
        {% elif medium.file.mime_type.maio_type.maio_type == 'audio' %}
          <figure class="maio-viewer">
            <figcaption>{{ medium.name }}.{{ medium.extension }}</b></figcaption>
            <audio controls class="maio-viewer" id="audio_{{ medium.id }}">
              <source src="{{ medium.get_static_media_uri }}">
            </audio>
          </figure>
        {% elif medium.file.mime_type.maio_type.maio_type == 'document' %}
          No viewer available for <b>{{ medium.name }}.{{ medium.extension }}</b>.
          Try <a href="{{ medium.get_static_media_uri }}" download>downloading the file</a> instead.
        {% else %}
          No viewer available for <b>{{ medium.name }}..{{ medium.extension }}</b><br>
          Try <a href="{{ medium.get_static_media_uri }}" download>downloading the file</a> instead.
        {% endif %}
        </div>
      <div class="modal-footer">
        <a class="btn btn-primary" href="{{ medium.get_static_media_uri }}" download>Download <i class="bi bi-download"></i></a>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close <i class="bi bi-x-lg"></i></button>
      </div>
    </div>
  </div>
</div>
{% endif %}
