{# medium icon file #}
{# requires a Media instance named 'image' and an integer named 'width' context variables #}

{% load static %}
{% load maio_extras %}

{% if medium and width %}
  <!-- image -->
  <div style="height: {{width}}px; overflow: hidden; border-radius: 5px; position: relative;">
    {% include 'maio/_medium_icon.html' %}
    {% if user_setting.default_dashboard_view == 'thumbnails' %}
      <h6 class="maio-thumbnail-title"
          data-bs-toggle="modal"
          data-bs-target="#modal_maio_viewer_{{ medium.id }}"
          title="{{ medium.name }}.{{ medium.extension }}"
      >{{ medium.name }}.{{ medium.extension }}</h6>
    {% endif %}
    <img id="medium_{{ medium.id }}"
         class="card-img-top"
         data-bs-toggle="modal"
         data-bs-target="#modal_maio_viewer_{{ medium.id }}"
         src="{{ medium.get_static_thumbnail_uri }}"
         alt="{{ medium.name }}.{{ medium.extension }}"
         title="{{ medium.name }}.{{ medium.extension }}"
         style="{% if medium.tn_width > medium.tn_height %}
                  height: {{ width }}px; width: auto;
                  margin-left: {{ medium.margin_left }}px;
                {% else %}
                  margin-top: {{ medium.margin_top }}px;
                  width: {{ width }}px; height: auto;
                {% endif %}
                cursor: pointer;"
    >
  </div>
  <!-- /image -->
{% endif %}
