{# image card, simple #}
{# requires a Media instance named 'image' and an integer named 'width' context variables #}

{% load static %}
{% load maio_extras %}

{% if medium and width %}
<div class="card m-2 p-0 border border-dark" style="width: {{width}}px;" id="card_{{ medium.id }}">
  {% include 'maio/_image.html' %}
  {% include 'maio/_title.html' %}
  {% include 'maio/_properties.html' %}
  {% include 'maio/_options.html' %}
</div>

{% include 'maio/_modal_delete_media.html' %}
{% if medium.file.mime_type.maio_type.maio_type == 'video' and medium.slideshow_tn_uri %}
  {% include 'maio/_modal_change_thumbnail.html' %}
{% endif %}
{% include 'maio/_modal_maio_viewer.html' %}
{% endif %}
