{# rating file #}
{# requires a Media instance named 'image' and an integer named 'width' context variables #}

{% load static %}
{% load maio_extras %}

{% if medium and width %}
  <!-- media options -->
  <div class="btn-group dropup float-end maio-card-options">
    <span class="bi bi-three-dots-vertical float-end dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"></span>
    <ul class="dropdown-menu">
      <!-- Dropdown menu links -->
      <li class="maio-media-options"
          data-bs-toggle="modal"
          data-bs-target="#modal_maio_viewer_{{ medium.id }}"
      >
        View Media in Maio Viewer
      </li>
      <li class="maio-media-options">
        <a href="{{ medium.get_static_media_uri }}" target="_new">View Raw Media</a>
      </li>
      {% if medium.file.mime_type.maio_type.maio_type == 'video' and medium.slideshow_tn_uri %}
        <li class="maio-media-options"
            data-bs-toggle="modal"
            data-bs-target="#modal_change_thumbnail_{{ medium.id }}"
        >
          Change Thumbnail
        </li>
      {% endif %}
      <li class="maio-media-options"
          data-bs-toggle="modal"
          data-bs-target="#modal_delete_media_{{ medium.id }}"
      >
        Delete
      </li>
    </ul>
  </div> <!-- /media options -->
{% endif %}
