{# pagination partial file #}
{# requires a paginator list named 'pages' context variable #}

{% if pages %}
  <nav aria-label="Page navigation for Maio"> <!-- pagination -->
    <ul class="pagination justify-content-center" style="width: 100%;">
      {% if pages.has_previous %}
        <li class="page-item">
          <a class="page-link" onclick="choose_page(null, 1);">&laquo; First</a>
        </li>
        <li class="page-item">
          <a class="page-link" onclick="choose_page(null, {{ pages.previous_page_number }});">&lsaquo; Previous</a>
        </li>
      {% else %}
        <li class="page-item disabled">
          <a class="page-link" href="#">&laquo; First</a>
        </li>
        <li class="page-item disabled">
          <a class="page-link" href="#">&lsaquo; Previous</a>
        </li>
      {% endif %}

      {% for page in pages.paginator.custom_page_range %}
        <li class="page-item {% if pages.number == page %}active{% endif %}">
            {% if pages.number == page %}
            <a class="page-link" onclick="choose_page({{ instance }});">
              Page {{ page }} of {{ pages.paginator.num_pages }}
            </a>
            {% else %}
            <a class="page-link" onclick="choose_page(null, {{ page }});">
              {{ page }}
            </a>
            {% endif %}
        </li>
      {% empty %}
        <li class="page-item">
          <a class="page-link" href="#">
            No pages
          </a>
        </li>
      {% endfor %}

      {% if pages.has_next %}
        <li class="page-item">
          <a class="page-link" onclick="choose_page(null, {{ pages.next_page_number }});">Next &rsaquo;</a>
        </li>
        <li class="page-item">
          <a class="page-link" onclick="choose_page(null, {{ pages.paginator.num_pages }});">Last &raquo;</a>
        </li>
      {% else %}
        <li class="page-item disabled">
          <a class="page-link" href="#">Next &rsaquo;</a>
        </li>
        <li class="page-item disabled">
          <a class="page-link" href="#">Last &raquo;</a>
        </li>
      {% endif %}
    </ul>

    <div id="maio_choose_page_{{ instance }}" class="maio-choose-page alert alert-warning">
      Go to page: <input id="page_number_{{ instance }}" type="text">
      <button class="btn btn-primary" onclick="choose_page({{ instance }}, $('#page_number_{{ instance }}').val());">Go</button>
      <button class="btn btn-secondary" onclick="choose_page({{ instance }});">Cancel</button>
    </div>
  </nav> <!-- pagination -->
{% endif %}
