{% extends 'base/base.html' %}
{% load static %}

{% block title %}Dashboard{% endblock title %}

{% block content %}
  <div class="container"> <!-- container -->
    <h1>Dashboard</h1>
    {% include 'maio/_pagination.html' %}
    <div class="row justify-content-center">
      {% for image in images %}
        {% include 'maio/_image_card.html' %}
      {% empty %}
        <div>
          No images.
        </div>
      {% endfor %}
    </div> <!-- /row -->
    {% include 'maio/_pagination.html' %}
    {% include 'maio/_stats.html' %}
  </div> <!-- /container -->
{% endblock content %}

{% block script %}
  <script src="{% static 'maio/js/utils.js' %}"></script>
  <script src="{% static 'maio/js/dashboard.js' %}"></script>
  <script>
  var config = new Config({
    'csrf_token': '{{ csrf_token }}',
    'delete_media_url': '{% url "delete_media" %}',
  });
  </script>
{% endblock script %}
