{% extends 'base/base.html' %}
{% load staticfiles %}

{% block title %}Dashboard{% endblock title %}

{% block content %}
  <div class="container"> <!-- container -->
    <h1>Dashboard</h1>
    {% include 'maio/_pagination.html' %}
    <div class="row justify-content-center">
      {% for image in images %}
        {% include 'maio/_image_card.html' %}
      {% empty %}
        <div>
          No images.
        </div>
      {% endfor %}
    </div> <!-- /row -->
    {% include 'maio/_pagination.html' %}
    {% include 'maio/_stats.html' %}
  </div> <!-- /container -->
{% endblock content %}
