{% extends 'base/base.html' %}
{% load static %}

{% block title %}Home{% endblock title %}

{% block content %}
  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container" style="">
      {% include 'base/login.html' %}
      <h1 class="display-3" style="margin-top: 0em;">Maio</h1>
      <h2 class="display-5">Media All In One</h2>
      <div style="clear: both;"></div>
      {% include 'maio/_stats.html' with file_stat=file_stat %}
    </div>
  </div>
{% endblock content %}
