{% load static %}

<nav class="navbar navbar-expand-md bg-body-tertiary" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'home' %}" style="vertical-align: center;">
      <img src="{% static 'icons/maio_32.png' %}" type="image/png" style="width: 28px; margin-top: -0.4em;">
      <span style="margin: 0.2em 0 0.2em 0.2em; display: inline-block">Maio</span>
    </a>
    <button class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    {% if request.user.is_authenticated %}
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            {{request.user}}
          </a>
          {% if request.user.is_authenticated %}
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{% url 'dashboard' %}">Dashboard</a></li>
              <li><a class="dropdown-item" href="{% url 'upload_media' %}">Upload Media</a></li>

              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="{% url 'edit_profile' %}">Edit Profile</a></li>

              {% if request.user.is_superuser %}
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="{% url 'admin:index' %}">Django Admin</a></li>
              <li><a class="dropdown-item" href="{% url 'maio_admin:home' %}">Maio Admin</a></li>
              {% endif %}

              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="{% url 'logout' %}">Log Out</a></li>
            </ul>
          {% endif %}
        </li>
      </ul>
      <form class="d-flex" role="search" action="{% url 'search' %}">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
    {% endif %}
  </div>
</nav>
