<nav class="navbar navbar-expand-md bg-body-tertiary" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'home' %}">Maio</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        {% if request.user.is_staff %}
        <li class="nav-item" style="margin-right: 10px;">
          <a class="btn btn-danger btn-md mr-1" href="{% url 'admin:index' %}">Admin</a>
        </li>
        {% endif %}
        {% if request.user.is_authenticated %}
        <li class="nav-item">
          <a class="btn btn-success btn-md" href="{% url 'logout' %}">Log Out</a>
        </li>
        {% endif %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            {{request.user}}
          </a>
          {% if request.user.is_authenticated %}
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{% url 'upload_media' %}">Upload Media</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="{% url 'edit_profile' %}">Edit Profile</a></li>
            </ul>
          {% endif %}
        </li>
      </ul>
      <form class="d-flex" role="search" action="{% url 'search' %}">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
