.media_options {
    padding-left: 10px;
}

.media_options:hover {
    background-color: gray;
}

.maio-highlight-media {
    background-color: rgb(243, 218, 60);
}

.maio-media-icon {
    position: absolute;
    top: 2px;
    left: 2px;
    z-index: 1;
    background-color: white;
    border-radius: 2px;
}

.maio-file-name {
    word-wrap: break-word;
    text-decoration: underline;
}

.maio-card-options {
    position: absolute;
    right: 4px;
    bottom: 2px;
    z-index: 1;
}

.maio-text-white {
    color: white;
}

.maio-text-white:hover {
    color: white;
}
