.maio-media-options {
    padding-left: 10px;
}

.maio-media-options a {
    text-decoration: none;
    color: rgb(33, 37, 41);
    width: 100%;
}

.maio-media-options:hover {
    background-color: rgb(13, 110, 253);
    color: white;
}

.maio-media-options:hover a {
    text-decoration: none;
    color: white;
}

.maio-highlight-media {
    background-color: rgb(243, 218, 60);
}

.maio-media-icon {
    position: absolute;
    top: 2px;
    left: 2px;
    z-index: 1;
    background-color: white;
    border-radius: 2px;
}

.maio-file-name {
    word-wrap: break-word;
    text-decoration: underline;
}

.maio-card-options {
    position: absolute;
    right: 4px;
    bottom: 2px;
    z-index: 1;
}

.maio-text-white {
    color: white;
}

.maio-text-white:hover {
    color: white;
}

div.maio-viewer-container {
    display: flex;
    justify-content: center;
}

.maio-viewer {
    width: 100%;
    position: relative;
}

img.maio-viewer {
    width: 100%;
    height: auto;
    object-fit: contain;
    display: block;
    margin-right: 8px;
}

img.maio-viewer-gif {
    width: auto;
}
audio.maio-viewer {}

video.maio-viewer {}
