.maio-media-options {
    padding-left: 10px;
}

.maio-media-options a {
    text-decoration: none;
    color: rgb(33, 37, 41);
    width: 100%;
}

.maio-media-options:hover {
    background-color: rgb(13, 110, 253);
    color: white;
}

.maio-media-options:hover a {
    text-decoration: none;
    color: white;
}

.maio-highlight-media {
    background-color: rgb(243, 218, 60);
}

.maio-media-icon {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: white;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    border-top: 0;
    border-left: 0;
    border-radius: 5px 0;
    padding: 0 5px;
}

.maio-file-name {
    word-wrap: break-word;
    text-decoration: underline;
}

.maio-card-options {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 1;
    background-color: white;
    border-radius: 5px 0;
    padding: 2px;
    border-top: 1px solid rgb(33, 37, 41);
    border-left: 1px solid rgb(33, 37, 41);
}

.maio-text-white {
    color: white;
}

.maio-text-white:hover {
    color: white;
}

div.maio-viewer-container {
    display: flex;
    justify-content: center;
}

.maio-viewer {
    width: 100%;
    position: relative;
}

img.maio-viewer {
    width: 100%;
    height: auto;
    object-fit: contain;
    display: block;
    margin-right: 8px;
}

img.maio-viewer-gif {
    width: auto;
}
audio.maio-viewer {}

video.maio-viewer {}

.maio-card-title {
    max-height: 3.6em;
    overflow: hidden;
    text-overflow: ellipsis;
}

.maio-card-title.maio-simple {
    max-height: 1.4em;
}
